body {
	line-height: 30px;
}

form {
	width: 15%;
}

button {
	background-color: #eee;
	border: 0;
	cursor: pointer;
	width: 80px;
	padding: 5px;
	position: absolute;
	margin: 10px;
	right: 0;
}

button:hover {
	background-color: #ddd;
}

input {
	padding: 15px;
	margin: 10px 50px;
	border: 1px solid #999;
	position: relative;
	width: 100%;
}

input[type='submit'] {
	background-color: #0EAC51;
    color: #fff;
    border: 0;
    width: 122%;
}

.login {
	width: 300%;
	text-align: center;
}

.error {
	color: #A70C00;
	padding: 10px;
	margin: 20px auto;
}

.info, .edit {
	border: 0;
	margin: 20px;
	padding: 20px;
	display: table-cell;
	border: 1px solid rgba(210, 210, 210, 0.9);
}

.info {
	width: 300px;
	border-right: 0;
}

.edit {
	width: 50px;
	border-left: 0;
	vertical-align: middle;
    line-height: 40px;
    text-decoration: none;
}

.user {
	margin: 20px;
	display: table;
}

.current {
	float: right;
}

.edit-user {
	color: #1297E0;
	position: relative;
}

.delete {
	color: #D73C2C;
	position: relative;
}

.new {
	color: #1EBC61;
}